
#Navbar{
    background-color: red;

    #logo{
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1.5em;
        width: 125px;
        text-align: center;
        font-weight: 600;
        transition: color .5s, background-color .5s, border-radius .3s, font-weight .3s;

        &:hover{
            border-radius: 40px;
            color: red;
            background-color: white;
            font-weight: 400;
        }
    }

    .navLink{
        transition: border-bottom-color .5s;
        border-bottom: 1px solid red;
        font-size: 1.2em;

       &:hover{
           border-bottom-color: white;
       }
    }

    .auth{
        // border: 1px solid black;
        transition: border-bottom-color .5s;
        border-bottom: 1px solid red;
        font-size: 1.2em;
        margin-top: .43em;
        margin-left: .5em;
        text-decoration: none;
        

       &:hover{
           border-bottom-color: white;
       }
    }

    .searchBar{
        color: black;
        margin-right: 7px;
    }

    #searchBtn{
        &:hover{
            color: red;
        }
    }

   *{
       color: white;
   }

}

#modal{
    width: 50%;

    #modalHeader{
        display: flex;
        justify-content: center;
        
        button{
            margin-top: 1em;
            background: none;
            border: none;
            text-decoration: underline;
            font-size: 1.5em;
            
        }
    }

    #modalBody{
        text-align: center;
        width: 80%;
        margin: 0 auto;

        .inputGroup{
            margin-top: .5em;
            height: 5em;
        }
    }

    #modalFooter{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
    
}

.selected{
    color: blue;
}